/*Style*/
body {
    margin: 0;
    padding: 0;
    color: beige;
    background-color: #333; 
}

.container {
    position: relative;
    box-sizing: border-box;
    width: 200px;
    height: 200px;
}

.circle {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #666;
}

.anim-1 {
    left: 80px;
    animation: animation-1 2s infinite alternate;
}

@keyframes animation-1 {
    0% {
        margin-top: 0;
        background-color: #e5f7de;
    }
    100% {
        margin-top: 157px;
    }
}

.anim-2 {
    animation: animation-2 2s infinite alternate;
}

@keyframes animation-2 {
    from {
        top: 0;
        left: 157px;
        background-color: #f5c7de;
    }
    to {
        top: 157px;
        left: 0;
    }
}

.anim-3 {
    position: 0;
    animation: animation-3 2s infinite alternate;
}

@keyframes animation-3 {
    0% {
        top: 0;
        left: 0;  
        background-color: beige;  
    }
    33% {
        top: 0;
        left: 157px;
    }
    66% {
        top: 157px;
        left: 0;
    }
    100% {
        top: 157px;
        left: 157px;
    }
}